<html>
  <head>
    <title>Insert Operation in PHP</title>
  </head>
  <body>
    <form action="" method="post">
      <table align="center" style="margin-top:100px;">
        <tr>
          <td>Name:</td>
          <td><input type="text" name="name" required /></td>
        </tr>
        <tr>
          <td>Email Id:</td>
          <td><input type="email" name="email" required /></td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="submit" name="submit" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
